services:
  api:
    volumes:
      - .:/app
      - /app/.venv
    environment:
      - PYTHONUNBUFFERED=1
      - RELOAD=True
    command: ["-m", "uvicorn", "src.app:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
